/* Pouzijeme border box pro cele HTML
1) Vytvor menu pro telefon (obrazovka mensi nez 600px)
    Menu ma libovolnou barvu
    Menu bude serazeno pod sebou
    Po najeti zmeni barvu (vyber si ji)
2) Vytvor menu pro PC
    Menu je serazeno vedle sebe
    Polozky menu jsou umisteny ve stredu menu
    Po najeti na polozku zmeni barvu */

html {
    box-sizing: border-box;
}

::after::before {
    box-sizing: inherit;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: azure;
}

a {
    display: block;
    padding: 0.5rem;
    text-align: center;
    flex: 20%;
    }

a:hover, a:focus {
    background-color: lightblue;
}

@media screen and (min-width: 600px) {

nav {
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;

}


}



